[package]
name = "ribbit"
version = "0.1.0"
edition = "2021"

[features]
atomic = []
atomic-u128 = ["atomic", "dep:portable-atomic"]

[dependencies]
arbitrary-int = "2.0"
portable-atomic = { version = "1.11.1", optional = true }
ribbit-derive = { path = "../ribbit-derive" }

[dev-dependencies]
trybuild = "1.0.97"
